<template>
  <div class="container text-center">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <h1 class="display-5 fw-bold" :style="title.style">{{ title.text }}</h1>
      <div class="col-lg-8 mx-auto">
        <p class="lead mb-4" :style="description.style">
          {{ description.text }}
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-primary btn-lg px-4 gap-3">
            Primary button
          </button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">
            Secondary
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "BannerBasic",
  props: {
    title: {
      type: Object,
      required: true,
    },
    description: {
      type: Object,
      required: true,
    },
  },
};
</script>
