<template>
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img :src="logo" alt="" class="img-fluid" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar"
        aria-controls="navbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <template v-for="(link, index) in links">
            <li :key="index" class="nav-item">
              <a class="nav-link" :href="link.href" :target="link.target">
                {{ link.text }}
              </a>
            </li>
          </template>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: "NavbarDark",
  inheritAttrs: false,
  props: {
    logo: {
      type: String,
      default: "",
    },
    links: {
      type: Array,
      required: true,
    },
  },
};
</script>
