<template>
  <div>
    <template v-for="(component, index) in params.components">
      <component :is="component.name" :key="index" v-bind="component.attrs" />
    </template>
  </div>
</template>

<script>
export default {
  name: "Render",
  async asyncData({ $api, route, req, error }) {
    const params = await $api.renderPage(req.headers.host, route.path);

    if (params === null) {
      error({ statusCode: 404, message: "頁面不存在" });
    }

    return { params };
  },
  head() {
    return this.params.head;
  },
};
</script>
